<section class="about">
    <div class="grid-container">
        <div class="grid-x">
          <div class="cell large-6 nouveautes">
            <div class="grid-x">
              <div class="large-6">
                  <img src="assets/img/couperin.jpg">
              </div>
              <div class="large-6 new">
                <h2 class="text-center">Nouveautés</h2>
                <hr>
                <p class="text-center blue">disque</p>
                <p class="text-center">harmonia mundi</p>
                <hr>
                <p class="text-center green">Couperin - Tic Toc Choc</p>
              </div>
            </div>
            <div class="grid-x">
              <div class="large-3">
              </div>
              <div class="large-6">
                <p class="txt">François Couperin, Jacques Duphly & autres pièces de clavecin.
À peine achevé l'enregistrement de son disque Rameau en 2001, il tardait déjà à Alexandre Tharaud de prolonger ce travail sur la musique baroque française. Après un détour par Ravel, Bach et...
</p>

                <p class="text-center btn"><span class="btn-border"><a href="#">EN SAVOIR +</a></span></a></p>
              </div>
              <div class="large-3">
              </div>
            </div>
          </div>

          <div class="cell large-6 dates">
            <div class="grid-x">
              <div class="large-12">
                <h2 class="text-center"> PROCHAINES DATES&nbsp;&nbsp;<img src="assets/img/fleche.png"></h2>
              </div>
              <div class="grid-x">
              <div class="large-3">
              </div>
              <div class="large-6">
                <p><date>19 aout</date> <br /> <strong>La roque - France</strong></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</p>
                <p><img src="assets/img/web.png">&nbsp;&nbsp;<a href="www.festival-piano.com">www.festival-piano.com</a></p>
                <hr>
                <p><date>19 aout</date> <br /> <strong>La roque - France</strong></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</p>
                <p><img src="assets/img/web.png">&nbsp;&nbsp;<a href="www.festival-piano.com">www.festival-piano.com</a></p>
                <hr>
                <p class="text-center btn"><span class="btn-border"><a href="#">VOIR TOUTES LES PAGES</a></span></p>
              </div>
              <div class="large-3">
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>
