<section class="blog">
    <div class="grid-container">
        <div class="grid-x">
          <div class="cell large-3" style="border:2px solid #000;">
            <div class="grid-x">
              <div class="large-12">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br />
                  <a href="http://fb.me/4ufSUR5Sj">http://fb.me/4ufSUR5Sj</a></p>
                  <hr>
                  <p><img src="assets/img/twitter2.png">@atharaud . Il y a 2h</p>
              </div>
        </div>
    </div>
    <div class="cell large-3" style="border:2px solid #000;">
      <div class="grid-x">
        <div class="large-12">
            <img src="assets/img/instagram1.png">
        </div>
  </div>
  </div>
    <div class="cell large-3" style="border:2px solid #000;">
      <div class="grid-x">
        <div class="large-12">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br />
            <a href="http://fb.me/4ufSUR5Sj">http://fb.me/4ufSUR5Sj</a></p>
            <hr>
            <p><img src="assets/img/twitter2.png">@atharaud . Il y a 2h</p>
        </div>
  </div>
</div>
<div class="cell large-3" style="border:2px solid #000;">
<div class="grid-x">
<div class="large-12">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br />
    <a href="http://fb.me/4ufSUR5Sj">http://fb.me/4ufSUR5Sj</a></p>
    <hr>
    <p><img src="assets/img/facebook.png">@atharaud . Il y a 2h</p>
</div>
</div>
</div>
  </div>
</div>

<div class="grid-container">
    <div class="grid-x">
      <div class="cell large-3" style="border:2px solid #000;">
        <div class="grid-x">
          <div class="large-12">
              <p><img src="#"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br />
              <a href="http://fb.me/4ufSUR5Sj">http://fb.me/4ufSUR5Sj</a></p>
              <hr>
              <p><img src="assets/img/twitter2.png">@atharaud . Il y a 2h</p>
          </div>
    </div>
</div>
<div class="cell large-3" style="border:2px solid #000;">
  <div class="grid-x">
    <div class="large-12">
        <a href="#"><img src="assets/img/img.png"></a>
        <hr>
        <p><img src="assets/img/facebook.png">@atharaud . Il y a 2h</p>
    </div>
</div>
</div>
<div class="cell large-3" style="border:2px solid #000;">
  <div class="grid-x">
    <div class="large-12">
        <a href="#"><img src="assets/img/img2.png"></a>
    </div>
</div>
</div>
</div>
</div>

<div class="grid-container">
<div class="grid-x">
  <div class="cell large-12">
    <p class="text-center btn"><span class="btn-border"><a href="#">+ d'actualités</a></span></p>
</div>
</div>
</div>
</section>
