<footer class="grid-container">
    <div class="grid-x">
      <div class="small-3 cell">
        <p><a href=""><img src="assets/img/mentions.png">Mentions légales</a></p>
      </div>
        <div class="small-3 cell">
        <p><a href=""><img src="assets/img/contact.png">contact</a></p>
      </div>
        <div class="small-6 cell align-right">
            <ul class="menu align-right">
                <li><a href="#"><img src="assets/img/twitter2.png"></a></li>
                <li><a href="#"><img src="assets/img/facebook.png"></a></li>
                <li><a href="#"><img src="assets/img/instagram.png"></a></li>
            </ul>
        </div>
    </div>
</footer>
