<header>
  <div class="grid-container">
    <nav class="grid-x align-middle">
      <div class="large-1 cell text-left">
        <a href="bio.html"><img src="assets/img/logo.png"></a>
      </div>
      <div class="large-10 cell">
        <ul class="menu align-center dropdown" data-dropdown-menu>
          <li><a href="bio.html">Home</a></li>
          <li><a href="bio.html">News</a></li>
          <li><a href="bio.html">Concerts</a></li>
          <li><a href="bio.html">Music</a>
            <ul class="menu">
                  <li><a href="bio.html">Disques</a></li>
                  <li><a href="bio.html">Vidéos</a></li>
                </ul>
          </li>
          <li><a href="bio.html">Bio</a></li>
          <li><a href="bio.html">Links</a></li>
        </ul>
      </div>
      <div class="large-1 cell text-right">
        <a href="bio.html">EN</a>
      </div>
    </nav>
  </div>
</header>
