<section>
          <div class="cell large-12">
            <div class="grid-x">
            <div class="cell large-3" >
            <img src="assets/img/img5.png">
              </div>
              <div class="cell large-3" >
              <img src="assets/img/img6.png">
                </div>
                <div class="cell large-3" >
                <img src="assets/img/img7.png">
                  </div>
                  <div class="cell large-3" >
                  <img src="assets/img/img8.png">
                    </div>
            </div>
          </div>
</section>
