
    <div class="large-3 columns">
          <section>
                <div class="grid-container">
                      <div class="grid-x">
                      <div class="cell large-12">
                        <h5 class="text-center"> PROCHAINES DATES</h5>
                        <hr>
                        <p>19 aout <br /> La roque - France</p>
                        <p>19 aout <br /> La roque - France</p>
                        <hr>
                        <p class="text-center"><a href="#">VOIR +</a></p>
                          </div>

                                <div class="cell large-12">
                                  <img src="http://via.placeholder.com/290x250">
                                    </div>
                                    <div class="cell large-12">
                                      <p class="text-center"><strong>DOWNLOAD DOCS</strong></p>
                                      <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</p>
                                      <img src="http://via.placeholder.com/160x140">
                                        </div>

                              <div class="cell large-12">
                                <h5 class="text-center">TITRE DE L'ARTICLE</h5>
                                <hr>
                                <img src="http://via.placeholder.com/290x250">
                                <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</p>
                                <hr>
                                <p class="text-center"><a href="#">VOIR +</a></p>
                              </div>
                                  </div>
                                </div>
                                </section>
                        </div>
