<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body>
    <header>
      <div class="grid-container">
        <nav class="grid-x align-middle">
          <div class="large-1 cell">

          </div>
          <div class="large-10 cell">
            <ul class="menu align-center dropdown" data-dropdown-menu>
              <li><a href="#">Home</a></li>
              <li><a href="#">News</a></li>
              <li><a href="#">Concerts</a></li>
              <li><a href="#">Music</a>
                <ul class="menu">
                      <li><a href="#">Disques</a></li>
                      <li><a href="#">Vidéos</a></li>
                    </ul>
              </li>
              <li><a href="#">Bio</a></li>
              <li><a href="#">Links</a></li>
            </ul>
          </div>
          <div class="large-1 cell text-right">
            <a href="#">EN</a>
          </div>
        </nav>
      </div>
    </header>

    <section>
        <div class="grid-x align-center arrow">
            <img src="img/expression-4.jpg">
      </div>
    </section>

    <section>
        <div class="grid-container">
            <div class="grid-x">
              <div class="cell large-6">
                <div class="grid-x">
                  <div class="large-6">
                      <img src="img/couperin.jpg">
                  </div>
                  <div class="large-6">
                    <h2 class="text-center">Nouveautés</h2>
                    <hr>
                    <p class="text-center">disque</p>
                    <p class="text-center">harmonia mundi</p>
                    <hr>
                    <p class="text-center">couperin</p>
                  </div>
                </div>
                <div class="grid-x">
                  <div class="large-2">
                  </div>
                  <div class="large-8">
                    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <hr>
                    <p class="text-center"><a href="#">En savoir +</a></p>
                  </div>
                  <div class="large-2">
                  </div>
                </div>
              </div>

              <div class="cell large-6">
                <div class="grid-x">
                  <div class="large-12">
                    <h2 class="text-center"> PROCHAINES DATES<img src="#"></h2>
                  </div>
                  <div class="grid-x">
                  <div class="large-3">
                  </div>
                  <div class="large-6">
                    <p>19 aout <br /> La roque - France</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</p>
                    <p><img src="#"><a href="www.festival-piano.com">www.festival-piano.com</a></p>
                    <hr>
                    <p>19 aout <br /> La roque - France</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</p>
                    <p><img src="#"><a href="www.festival-piano.com">www.festival-piano.com</a></p>
                    <hr>
                    <p class="text-center"><a href="#">VOIR TOUTES LES PAGES</a></p>
                  </div>
                  <div class="large-3">
                  </div>
                </div>
              </div>
            </div>
        </div>
    </section>


    <section>
        <div class="grid-container">
            <div class="grid-x">
              <div class="cell large-3" style="border:2px solid #000;">
                <div class="grid-x">
                  <div class="large-12">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br />
                      <a href="http://fb.me/4ufSUR5Sj">http://fb.me/4ufSUR5Sj</a></p>
                      <hr>
                      <p><img src="#">@atharaud . Il y a 2h</p>
                  </div>
            </div>
        </div>
        <div class="cell large-3" style="border:2px solid #000;">
          <div class="grid-x">
            <div class="large-12">
                <img src="#">
            </div>
      </div>
      </div>
        <div class="cell large-3" style="border:2px solid #000;">
          <div class="grid-x">
            <div class="large-12">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br />
                <a href="http://fb.me/4ufSUR5Sj">http://fb.me/4ufSUR5Sj</a></p>
                <hr>
                <p><img src="#">@atharaud . Il y a 2h</p>
            </div>
      </div>
  </div>
<div class="cell large-3" style="border:2px solid #000;">
  <div class="grid-x">
    <div class="large-12">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br />
        <a href="http://fb.me/4ufSUR5Sj">http://fb.me/4ufSUR5Sj</a></p>
        <hr>
        <p><img src="#">@atharaud . Il y a 2h</p>
    </div>
</div>
</div>
      </div>
    </div>

    <div class="grid-container">
        <div class="grid-x">
          <div class="cell large-3" style="border:2px solid #000;">
            <div class="grid-x">
              <div class="large-12">
                  <p><img src="#"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br />
                  <a href="http://fb.me/4ufSUR5Sj">http://fb.me/4ufSUR5Sj</a></p>
                  <hr>
                  <p><img src="#">@atharaud . Il y a 2h</p>
              </div>
        </div>
    </div>
    <div class="cell large-3" style="border:2px solid #000;">
      <div class="grid-x">
        <div class="large-12">
            <a href="#"><img src="#"></a>
            <hr>
            <p><img src="#">@atharaud . Il y a 2h</p>
        </div>
  </div>
  </div>
    <div class="cell large-3" style="border:2px solid #000;">
      <div class="grid-x">
        <div class="large-12">
            <a href="#"><img src="#"></a>
        </div>
  </div>
</div>
  </div>
</div>

<div class="grid-container">
    <div class="grid-x">
      <div class="cell large-12">
        <hr>
        <p class="text-center"><a href="#">+ d'actualités</a></p>
</div>
</div>
</div>
    </section>


    <footer class="grid-container">
        <div class="grid-x">
          <div class="small-3 cell">
            <p><a href=""><img src="http://via.placeholder.com/50x40">Mentions légales</a></p>
          </div>
            <div class="small-3 cell">
            <p><a href=""><img src="http://via.placeholder.com/50x40">contact</a></p>
          </div>
            <div class="small-6 cell">
                <ul class="menu">
                    <li><img src="http://via.placeholder.com/50x40"></li>
                    <li><img src="http://via.placeholder.com/50x40"></li>
                    <li><img src="http://via.placeholder.com/50x40"></li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
